@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');

:root {
    --bg-image-landscape: linear-gradient(180deg, rgba(0,0,0,0.5), rgba(0,0,0, 0.1) 50%, rgb(0, 0, 0, 0.5)), url('./assets/images/common/background_landscape-min.jpg');
    --bg-image-portrait: linear-gradient(180deg, rgba(0,0,0,0.5), rgba(0,0,0, 0.1) 50%, rgb(0, 0, 0, 0.5)), url('./assets/images/common/background_portrait-min.jpg');
}

body{
    margin:0px;
    padding: 0px;
    overflow-x: hidden;
    
    background-color: #000000;
    font-family: 'Montserrat', sans-serif;

}
*{
    box-sizing: border-box;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
button{
    outline: none;
    border: none;
}
input{
    outline: none;
    border: none;
}
.logo img{
    width: 150px;
}

.bg-red-test {
    background-color: red;
}
.bg-green-test {
    background-color: green;
}

/* Common */

.sections-title {
    text-align: center;
    margin: 50px;
    margin-top: 0px;
}

.sections-title .main-title {
    margin-bottom: 25px;
}

.sections-title .main-title h1 {
    font-family:'Montserrat';
	margin:0px;
    color: #00b7ff;
    font-size: 35px;
}

.sections-title .main-title span {
    display: inline-block;
    position: relative;
}

.sections-title .main-title span:before {
    border-top: 2px solid #00b7ff;
    right: 100%;
    margin-right: 15px;
    content: "";
    position: absolute;
    width: 85px;
    transform: translateY(-50%);
    top: 50%;
    opacity: 0.5;
}

.sections-title .main-title span:after {
    border-top: 2px solid #00b7ff;
    left: 100%;
    margin-left: 15px;
    content: "";
    position: absolute;
    width: 85px;
    transform: translateY(-50%);
    top: 50%;
    opacity: 0.5;
}

.sections-title .main-title img {
    height: 60px;
}

.sections-title .sub-title {
    margin-bottom: 0px;
}

.sections-title .sub-title p {
    color: #969696;
    margin-bottom: 7px;
    font-size: 18px;
    
}
/* Loading Spinner */

.loader {
    display: block;
    position: absolute;
    z-index: 1;
    background-color: black;
}
#spinner {
    -webkit-animation: sk-scaleout 1.5s infinite ease-in-out;
    animation: sk-scaleout 1.5s infinite ease-in-out;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
#spinner img {
    width: 15%;
}
@keyframes sk-scaleout {
    0% {
      -webkit-transform: scale(0);
      transform: scale(0);
    }
    100% {
      -webkit-transform: scale(1.0);
      opacity: 0;
      transform: scale(1.0);
    }
}

/* Navbar */

.navbar {
    background-color: transparent;
    transition: 0.6s ease-in-out;
    padding: 5px 20px;
}

.navbar-active {
    box-shadow: 5px 10px 30px rgba(0, 247, 255, 0.157);
	background-color: #1e272e;
}

.nav-item {
    margin-right: 5px;
    margin-left: 10px;
}

.nav-link{
    font-family: 'Montserrat', sans-serif;
	height:40px;
	line-height: 43px;
	margin: 3px;
	padding: 0px 22px;
	font-size: 0.9rem;
	text-transform: uppercase;
	font-weight: 500;
	color:#f5f6fa;
    letter-spacing: 1px;
    border-radius: 3px;
    transition: 0.2s ease-in-out;
}

.nav-link.active {
  background-color: #00b7ff;
  color:#f5f6fa;
	box-shadow: 5px 10px 30px rgba(189, 198, 64, 0.411);
	transition: all ease 0.2s;
}

.navbar-nav .nav-link.active {
  color: #f5f6fa;
}

.navbar-nav.ms-auto {
    text-align: center;
}

.nav-link:hover{
    background-color: #00b7ff;
    color:#ffffff;
	box-shadow: 5px 10px 30px rgba(2, 238, 255, 0.336);
	transition: all ease 0.2s;
}

.navbar-toggler {
    color: white;
    border: none;
}

.navbar-toggler-icon {
    background-image: none;
    background-color:#f5f6fa;
    display:block;
    height:2px;
    position:relative;
    transition: background 0.2s ease-out;
    width:18px;
}

.navbar-toggler-icon:before, 
    .navbar-toggler-icon:after{
    background:#f5f6fa;
    content:'';
    display:block;
    height:100%;
    position:absolute;
    transition:all ease-out 0.2s;
    width:100%;   
}
.navbar-toggler-icon:before{
    top:5px;
}
.navbar-toggler-icon:after{
    top:-5px;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.navbar-toggler-checked .navbar-toggler-icon{
    background:transparent;
}
.navbar-toggler-checked .navbar-toggler-icon:before{
    transform: rotate(-45deg);
    top:0;
}
.navbar-toggler-checked .navbar-toggler-icon:after{
    transform: rotate(45deg);
    top:0;
}

.navbar-toggler-checked .navbar-collapse .navbar-nav .nav-item {
    margin-right: 0px;
}

/* Home */

#home {
    width: 100%;
    background-repeat: no-repeat;
    background-image: var(--bg-image-landscape);
    background-size: cover;
}

.row-center {
    padding: 4em 2em;
    text-align: center;
    align-items: center;
}

.col-pb-30 {
    padding: 1em 0;
}

.mr-20 {
    margin-right: 20px;
}

#home img {
    width: 300px;
}

.home-description {
    font-family: 'Montserrat';
    text-align: left;
}

.home-description h1{
	font-family:'Montserrat';
	font-size: 40px;
	margin:0px;
	letter-spacing: 2px;
	color:#f5f6fa;
}

.home-description span {
    color: #00b7ff;
}

.home-description .details{
    margin-top: 10px;
    font-size: 18px;
    color: #969696;
}

.cv-btn {
    
    background-color: #00b7ff;
	color:#ffffff;
}

.cv-btn:hover{
	background-color: #0099ff;
    box-shadow: 5px 10px 30px rgba(2, 238, 255, 0.336);
    transition: all ease 0.5s;
    color: #e7eaec;
}

.youtube-icon:hover {
    box-shadow: 5px 10px 30px rgba(2, 238, 255, 0.336);
    transition: all ease 0.5s;
    color: #e7eaec;
}

/* Features */

#features {
    width: 100%;
    background-repeat: no-repeat;
    background-image: var(--bg-image-landscape);
    background-size: cover;
}

#features .container {
    margin-bottom: 0;
    margin-right: auto;
    margin-left: auto;
    padding: 50px 35px 50px 35px;
    width: 100%;
}

.feature-box {
    margin-bottom: 30px;
    border-radius: 15px;
    border-color: rgba(255,255,255,.08);
    box-shadow: 0 0 10px 5px rgb(255 255 255 / 8%);
    transition: all 0.6s;
    text-align: center;
    padding: 40px 25px;
    background-color: rgb(30, 39, 46, 0.6);
    cursor: pointer;
    transform: scale(0.97);
}

.feature-box:hover {
    box-shadow: 0 0 10px 5px rgb(255 255 255 / 25%);
    background-color: rgb(30, 39, 46, 0.8);
    transform: scale(1.00);
}

.feature-box-img-block {
    opacity: 0.9;
    margin-bottom: 10px;
}

.feature-box-img {
    height: 65px;
}

.feature-box-text {
    color: #e7eaec;
    letter-spacing: 0;
}

.feature-box-description p {
    color: #969696;
}

.feature-box-button {
    
    background-color: #00b7ff;
	color:#ffffff;
}

.feature-box-button:hover{
	background-color: #0099ff;
    box-shadow: 5px 10px 20px rgba(2, 238, 255, 0.336);
    transition: all ease 0.5s;
    color: #e7eaec;
}

/* Screens */

#screens {
    width: 100%;
    background-repeat: no-repeat;
    background-image: var(--bg-image-landscape);
    background-size: cover;
}

#screens .container {
    margin-bottom: 0;
    margin-right: auto;
    margin-left: auto;
    padding: 50px 0 100px 0;
    width: 100%;
}

.swiper-container {
    margin-top: -6px;
    margin-bottom: -16px;
    width: 100%;
}

.swiper-container .swiper-wrapper .slick-slider .slick-list .slick-track .slick-slide >
div .screens-item {
    padding: 0;
    outline: none;
    
}

.swiper-container .swiper-wrapper .slick-slider .slick-list .slick-track .slick-slide >
div .screens-item img {
    opacity: 0.5;
    transform: scale(0.8);
    width: 288px;
}

.swiper-container .swiper-wrapper .slick-slider .slick-list .slick-track .slick-slide img {
    margin: 0 auto;
}
.swiper-container .swiper-wrapper .slick-slider .slick-list .slick-track .slick-slide.slick-center >
div .screens-item img {
    opacity: 1;
    transform: scale(1);
}

#screens .screens-slider {
    margin-top: -32px;
}

#screens .screens-slider .slick-dots li {
    height: 5px;
    width: 16px;
}

#screens .screens-slider .slick-dots li button:before {
    content: 'unset';
    width: 16px;
    height: 5px;
    line-height: 5px;
    background-color: #d6d6d6;
    border-radius: 30px;
    color: transparent;
    opacity: 1;
}

#screens .screens-slider .slick-dots li.slick-active {
    width: 39px;
    height: 5px;
}

#screens .screens-slider .slick-dots li.slick-active button:before {
    width: 39px;
    height: 5px;
    background: #000;
    box-shadow: 0 0 4px 1px #e2e2e2;
}

/* Technology */

#technology {
    width: 100%;
    background-repeat: no-repeat;
    background-image: var(--bg-image-landscape);
    background-size: cover;
}

#technology .container {
    margin-bottom: 0;
    margin-right: auto;
    margin-left: auto;
    padding: 50px 35px 50px 35px;
    width: 100%;
}

.tech-box {
    margin-bottom: 30px;
    border-radius: 15px;
    border-color: rgba(255,255,255,.08);
    box-shadow: 0 0 10px 5px rgb(255 255 255 / 8%);
    transition: all 1s;
    text-align: center;
    align-items: center;
    padding: 25px 20px;
    background-color: rgb(30, 39, 46, 0.6);
}

.tech-box-description {
    text-align: left;
}

.tech-box-img-block {
    opacity: 0.8;
}

.tech-box-img {
    width: 80%;
}

.tech-box-text {
    color: #e7eaec;
    letter-spacing: 0;
}

.tech-box-description p {
    color: #969696;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* number of lines to show */
    line-clamp: 3; 
    -webkit-box-orient: vertical;
}

.tech-box-button {
    
    background-color: #00b7ff;
	color: #ffffff;
}

.tech-box-button:hover{
	background-color: #0099ff;
    box-shadow: 5px 10px 20px rgba(2, 238, 255, 0.336);
    transition: all ease 0.5s;
    color: #e7eaec;
}

/* Designs */

#designs {
    width: 100%;
    background-repeat: no-repeat;
    background-image: var(--bg-image-landscape);
    background-size: cover;
}

#designs .container {
    margin-bottom: 0;
    margin-right: auto;
    margin-left: auto;
    padding: 50px 35px 50px 35px;
    width: 100%;
}

.designs-swiper-container {
    margin-top: -6px;
    margin-bottom: -16px;
    width: 100%;
}

.designs-swiper-container .designs-swiper-wrapper .slick-slider .slick-list .slick-track .slick-slide >
div .designs-item {
    padding: 0;
    outline: none;
    
}

.designs-swiper-container .designs-swiper-wrapper .slick-slider .slick-list .slick-track .slick-slide >
div .designs-item img {
    opacity: 0.5;
    transform: scale(0.8);
    width: 100%
}

.designs-swiper-container .designs-swiper-wrapper .slick-slider .slick-list .slick-track .slick-slide img {
    margin: 0 auto;
}
.designs-swiper-container .designs-swiper-wrapper .slick-slider .slick-list .slick-track .slick-slide.slick-center >
div .designs-item img {
    opacity: 1;
    transform: scale(1);
}

#designs .designs-slider {
    margin-top: -32px;
}

#designs .designs-slider .slick-dots li {
    height: 5px;
    width: 16px;
}

#designs .designs-slider .slick-dots li button:before {
    content: 'unset';
    width: 16px;
    height: 5px;
    line-height: 5px;
    background-color: #d6d6d6;
    border-radius: 30px;
    color: transparent;
    opacity: 1;
}

#designs .designs-slider .slick-dots li.slick-active {
    width: 39px;
    height: 5px;
}

#designs .designs-slider .slick-dots li.slick-active button:before {
    width: 39px;
    height: 5px;
    background: #000;
    box-shadow: 0 0 4px 1px #e2e2e2;
}

/* About */

#contact {
    margin-top: 50px;
    width: 100%;
    
}

#contact .container {
    margin-bottom: 0;
    margin-right: auto;
    margin-left: auto;
    padding: 50px 35px 0px 35px;
    text-align: center;
    width: 100%;
}

.contact-logo img {
    width: 150px;
}

.contact-social {
    list-style-type: none;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    padding: 0;
}

.social-item {
    font-weight: 400;
    padding: 5px 15px;
    line-height: 30px;
    display: inline;
}

.social-item a {
    color: #ffffff;
}

.social-item span {
    padding-left: 10px;
    font-size: 18px;
}

#contact i.fa {
    font-size: 25px;
}


/* Responsive */

@media (min-width:575px) and (max-width:992px){
	.home-description {
        text-align: center;
    }
    .social-item {
        display: list-item;
    }
    
    .navbar-collapse {
        position: fixed;
        height: 100%;
        top: 68px;
        right: 0;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 15px;
        background-color: #1e272e;
      }
      
      .navbar-collapse.collapsing {
        right: -75%;
        transition: height 0s ease;
      }
      
      .navbar-collapse.show {
        right: 0;
        transition: right 300ms ease-in-out;
      }
      
      .navbar-toggler.collapsed~.navbar-collapse {
        transition: right 300ms ease-in-out;
      }

}

@media(max-width:575px){
    .home-description {
        text-align: center;
    }
    .social-item {
        display: list-item;
    }

	.tech-box-description {
        text-align: center;
    }
    .tech-box-img-block {
        margin-bottom: 1em;
    }
    .tech-box-img {
        width: 60%;
    }
    #contact i.fa {
        font-size: 20px;
    }
    .social-item span {
        padding-left: 8px;
        font-size: 13px;
    }
}

@media(max-width:992px) {
    #home {
        background-image: var(--bg-image-portrait);
    }
    #features {
        background-image: var(--bg-image-portrait);
    }
    #screens {
        background-image: var(--bg-image-portrait);
    }
    #technology {
        background-image: var(--bg-image-portrait);
        background-repeat: repeat;
    }
    #designs {
        background-image: var(--bg-image-portrait);
    }
}

@media (orientation: landscape){
    .modal-video-close-btn{
        top:5px;
        right:-30px;
    }
}

/* Modal */

.modal-open {
    padding: 0 !important;
}

.modal {
    border-radius: 0;
}

.modal-dialog {
    padding-top: 35px;
}

.modal-content {
    border: none;
    border-radius: 0;
    background-color: #000;
}

.modal-video-close-btn{
    position:absolute;
    z-index:2;
    top: -20px;
    right:15px;
    display:inline-block;
    width:25px;
    height:30px;
    overflow:hidden;
    border:none;
    background:transparent
}

.modal-video-close-btn:before{
    transform:rotate(45deg)
}
.modal-video-close-btn:after{
    transform:rotate(-45deg)
}
.modal-video-close-btn:before,.modal-video-close-btn:after{
    content:'';
    position:absolute;
    height:2px;
    width:80%;
    top:40%;
    left:0;
    margin-top:-1px;
    background:#fff;
    border-radius:5px;
    margin-top:-6px
}
